<section class="dark:bg-background">
  <div class="container mx-auto">
    <div class="flex text-gray-400 text-sm items-center mb-4">
      <a href="#" class="font-medium text-gray-700 dark:text-gray-200"
        >Dashboard</a
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-3 h-3 mx-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
      </svg>
      <span>Booking</span>
    </div>
    <div class="bg-white shadow-front-2 dark:bg-foreground rounded-lg">
      <div class="flex flex-wrap justify-between items-center mb-4 px-6 pt-6">
        <h4
          class="text-gray-700 dark:text-gray-300 text-xl font-semibold mr-5 sm:mb-0 mb-3"
        >
          Booking Requests
        </h4>
        <select
          name="cars"
          id="cars"
          class="px-4 py-2 mr-0 mb-2 text-gray-500 dark:text-gray-400 border border-gray-200 dark:border-gray-800 rounded-lg dark:bg-foreground focus:outline-none"
        >
          <option value="volvo">Last Months</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <!-- inbox item  -->
      <div
        class="flex group justify-between flex-wrap p-6 hover:bg-gray-50 dark:hover:bg-background items-center border-b border-gray-200 dark:border-gray-800"
      >
        <div>
          <div class="flex items-center mb-6">
            <img
              class="w-14 h-14 rounded-full mr-4"
              src="img/faces/5.jpg"
              alt=""
            />
            <div class="flex items-center flex-wrap">
              <p
                class="text-xl text-gray-700 dark:text-gray-100 font-medium mr-2"
              >
                Yangzhou Fried Rice
              </p>
              <div
                class="bg-green-100 text-green-500 text-xs rounded font-medium px-2 py-1 mr-2"
              >
                Approved
              </div>
              <div
                class="bg-blue-100 text-blue-500 text-xs rounded font-medium px-2 py-1"
              >
                Paid
              </div>
            </div>
          </div>
          <div class="md:ml-20 ml-0">
            <p
              class="flex flex-wrap items-center font-medium text-gray-700 dark:text-gray-200 mb-2"
            >
              <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                >Booking Date :
              </span>
              28 March 2022, Monday
            </p>
            <p
              class="flex items-center flex-wrap font-medium text-gray-700 dark:text-gray-200 mb-2"
            >
              <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                >Booking Time :
              </span>
              06.30 PM - 08.00 PM
            </p>
            <div class="flex items-center flex-wrap">
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Price :
                </span>
                $120.00
              </p>
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Guests :
                </span>
                04 Adults
              </p>
            </div>
            <div class="flex items-center flex-wrap mb-7">
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Client :
                </span>
                Gage Paquette
              </p>
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Email :
                </span>
                gagep@accommo.com
              </p>
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Phone :
                </span>
                +123 456 7890
              </p>
            </div>
            <button
              type="button"
              class="border border-gray-200 dark:border-gray-800 flex justify-center items-center rounded-lg px-8 py-3 text-gray-500 dark:text-gray-400 lg:mr-7 mr-0 lg:mb-0 mb-4"
            >
              <svg
                class="w-4 h-4 mr-3"
                width="13"
                height="14"
                viewBox="0 0 13 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.8901 1.52131L11.2901 11.899C11.2526 12.1423 11.1057 12.3545 10.8909 12.4752C10.7698 12.5432 10.6341 12.5776 10.4989 12.5776C10.3942 12.5776 10.2909 12.5573 10.1916 12.5158L7.12656 11.2383L5.85504 13.1456C5.75754 13.3125 5.59504 13.4 5.42004 13.4C5.13253 13.4 4.90003 13.1675 4.90003 12.88V10.4754C4.90003 10.2976 4.95933 10.1247 5.06858 9.98443L10.5001 2.99983L3.15751 9.60742L0.592224 8.53741C0.31092 8.41991 0.12028 8.1549 0.10153 7.8274C0.0827795 7.49989 0.238257 7.23439 0.503035 7.08314L11.7032 0.705553C11.9704 0.552826 12.3002 0.566876 12.5532 0.740703C12.8062 0.914531 12.9376 1.21781 12.8901 1.52131Z"
                  fill="currentColor"
                />
              </svg>

              Send Message
            </button>
          </div>
        </div>
        <div class="md:ml-20 ml-0 mt-2 group-hover:block lg:hidden block">
          <div class="flex items-center">
            <button
              type="button"
              class="bg-red-100 text-red-500 flex items-center font-medium text-xs px-3 py-1 rounded mr-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-3 h-3 mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
              Reject
            </button>
            <button
              type="button"
              class="bg-green-100 text-green-500 flex items-center font-medium text-xs px-3 py-1 rounded mr-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-3 h-3 mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              Approve
            </button>
          </div>
        </div>
      </div>
      <div
        class="flex group justify-between flex-wrap p-6 hover:bg-gray-50 items-center border-b border-gray-200 dark:border-gray-800"
      >
        <div>
          <div class="flex items-center mb-6">
            <img
              class="w-14 h-14 rounded-full mr-4"
              src="img/faces/3.jpg"
              alt=""
            />
            <div class="flex items-center flex-wrap">
              <p
                class="text-xl text-gray-700 dark:text-gray-100 font-medium mr-2"
              >
                Yangzhou Fried Rice
              </p>
              <div
                class="bg-purple-100 text-purple-500 text-xs rounded font-medium px-2 py-1 mr-2"
              >
                Pending
              </div>
              <div
                class="bg-red-100 text-red-500 text-xs rounded font-medium px-2 py-1"
              >
                Unpaid
              </div>
            </div>
          </div>
          <div class="md:ml-20 ml-0">
            <p
              class="flex flex-wrap items-center font-medium text-gray-700 dark:text-gray-200 mb-2"
            >
              <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                >Booking Date :
              </span>
              28 March 2022, Monday
            </p>
            <p
              class="flex items-center flex-wrap font-medium text-gray-700 dark:text-gray-200 mb-2"
            >
              <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                >Booking Time :
              </span>
              06.30 PM - 08.00 PM
            </p>
            <div class="flex items-center flex-wrap">
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Price :
                </span>
                $120.00
              </p>
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Guests :
                </span>
                04 Adults
              </p>
            </div>
            <div class="flex items-center flex-wrap mb-7">
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Client :
                </span>
                Gage Paquette
              </p>
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Email :
                </span>
                gagep@accommo.com
              </p>
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Phone :
                </span>
                +123 456 7890
              </p>
            </div>
            <button
              type="button"
              class="border border-gray-200 dark:border-gray-800 flex justify-center items-center rounded-lg px-8 py-3 text-gray-500 dark:text-gray-400 lg:mr-7 mr-0 lg:mb-0 mb-4"
            >
              <svg
                class="w-4 h-4 mr-3"
                width="13"
                height="14"
                viewBox="0 0 13 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.8901 1.52131L11.2901 11.899C11.2526 12.1423 11.1057 12.3545 10.8909 12.4752C10.7698 12.5432 10.6341 12.5776 10.4989 12.5776C10.3942 12.5776 10.2909 12.5573 10.1916 12.5158L7.12656 11.2383L5.85504 13.1456C5.75754 13.3125 5.59504 13.4 5.42004 13.4C5.13253 13.4 4.90003 13.1675 4.90003 12.88V10.4754C4.90003 10.2976 4.95933 10.1247 5.06858 9.98443L10.5001 2.99983L3.15751 9.60742L0.592224 8.53741C0.31092 8.41991 0.12028 8.1549 0.10153 7.8274C0.0827795 7.49989 0.238257 7.23439 0.503035 7.08314L11.7032 0.705553C11.9704 0.552826 12.3002 0.566876 12.5532 0.740703C12.8062 0.914531 12.9376 1.21781 12.8901 1.52131Z"
                  fill="currentColor"
                />
              </svg>

              Send Message
            </button>
          </div>
        </div>
        <div class="md:ml-20 ml-0 mt-2 group-hover:block lg:hidden block">
          <div class="flex items-center">
            <button
              type="button"
              class="bg-red-100 text-red-500 flex items-center font-medium text-xs px-3 py-1 rounded mr-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-3 h-3 mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
              Reject
            </button>
            <button
              type="button"
              class="bg-green-100 text-green-500 flex items-center font-medium text-xs px-3 py-1 rounded mr-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-3 h-3 mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              Approve
            </button>
          </div>
        </div>
      </div>
      <div
        class="flex group justify-between flex-wrap p-6 hover:bg-gray-50 items-center border-b border-gray-200 dark:border-gray-800"
      >
        <div>
          <div class="flex items-center mb-6">
            <img
              class="w-14 h-14 rounded-full mr-4"
              src="img/faces/9.jpg"
              alt=""
            />
            <div class="flex items-center flex-wrap">
              <p
                class="text-xl text-gray-700 dark:text-gray-100 font-medium mr-2"
              >
                Yangzhou Fried Rice
              </p>
              <div
                class="bg-purple-100 text-purple-500 text-xs rounded font-medium px-2 py-1 mr-2"
              >
                Pending
              </div>
              <div
                class="bg-red-100 text-red-500 text-xs rounded font-medium px-2 py-1"
              >
                Unpaid
              </div>
            </div>
          </div>
          <div class="md:ml-20 ml-0">
            <p
              class="flex flex-wrap items-center font-medium text-gray-700 dark:text-gray-200 mb-2"
            >
              <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                >Booking Date :
              </span>
              28 March 2022, Monday
            </p>
            <p
              class="flex items-center flex-wrap font-medium text-gray-700 dark:text-gray-200 mb-2"
            >
              <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                >Booking Time :
              </span>
              06.30 PM - 08.00 PM
            </p>
            <div class="flex items-center flex-wrap">
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Price :
                </span>
                $120.00
              </p>
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Guests :
                </span>
                04 Adults
              </p>
            </div>
            <div class="flex items-center flex-wrap mb-7">
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Client :
                </span>
                Gage Paquette
              </p>
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Email :
                </span>
                gagep@accommo.com
              </p>
              <p
                class="flex items-center font-medium text-gray-700 dark:text-gray-200 mb-2 mr-4"
              >
                <span class="text-gray-500 dark:text-gray-400 font-normal mr-1"
                  >Phone :
                </span>
                +123 456 7890
              </p>
            </div>
            <button
              type="button"
              class="border border-gray-200 dark:border-gray-800 flex justify-center items-center rounded-lg px-8 py-3 text-gray-500 dark:text-gray-400 lg:mr-7 mr-0 lg:mb-0 mb-4"
            >
              <svg
                class="w-4 h-4 mr-3"
                width="13"
                height="14"
                viewBox="0 0 13 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.8901 1.52131L11.2901 11.899C11.2526 12.1423 11.1057 12.3545 10.8909 12.4752C10.7698 12.5432 10.6341 12.5776 10.4989 12.5776C10.3942 12.5776 10.2909 12.5573 10.1916 12.5158L7.12656 11.2383L5.85504 13.1456C5.75754 13.3125 5.59504 13.4 5.42004 13.4C5.13253 13.4 4.90003 13.1675 4.90003 12.88V10.4754C4.90003 10.2976 4.95933 10.1247 5.06858 9.98443L10.5001 2.99983L3.15751 9.60742L0.592224 8.53741C0.31092 8.41991 0.12028 8.1549 0.10153 7.8274C0.0827795 7.49989 0.238257 7.23439 0.503035 7.08314L11.7032 0.705553C11.9704 0.552826 12.3002 0.566876 12.5532 0.740703C12.8062 0.914531 12.9376 1.21781 12.8901 1.52131Z"
                  fill="currentColor"
                />
              </svg>

              Send Message
            </button>
          </div>
        </div>
        <div class="md:ml-20 ml-0 mt-2 group-hover:block lg:hidden block">
          <div class="flex items-center">
            <button
              type="button"
              class="bg-red-100 text-red-500 flex items-center font-medium text-xs px-3 py-1 rounded mr-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-3 h-3 mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
              Reject
            </button>
            <button
              type="button"
              class="bg-green-100 text-green-500 flex items-center font-medium text-xs px-3 py-1 rounded mr-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-3 h-3 mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              Approve
            </button>
          </div>
        </div>
      </div>
      <!-- rounded pagination  -->
      <div class="flex justify-center items-center p-6">
        <a
          href="#"
          class="rounded-full w-8 h-8 flex justify-center items-center border border-gray-200 dark:border-gray-800 mr-4"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 text-gray-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            /></svg
        ></a>
        <a
          href="#"
          class="rounded-full w-8 h-8 flex justify-center items-center border border-gray-200 dark:border-gray-800 bg-blue-500 text-white mr-4"
          >1</a
        >
        <a
          href="#"
          class="rounded-full w-8 h-8 flex justify-center items-center border border-gray-200 dark:border-gray-800 hover:bg-blue-500 dark:hover:bg-blue-500 dark:hover:text-white text-gray-500 dark:text-gray-300 hover:text-white mr-4"
          >2</a
        >
        <a
          href="#"
          class="rounded-full w-8 h-8 flex justify-center items-center border border-gray-200 dark:border-gray-800 mr-4"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 text-blue-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"
            /></svg
        ></a>
      </div>
    </div>
  </div>
</section>
