<section class="dark:bg-background">
  <div class="container mx-auto">
    <div class="flex justify-between flex-wrap items-center mb-7">
      <div class="flex text-gray-400 text-sm items-center mb-4">
        <a href="#" class="font-medium text-gray-700 dark:text-gray-200"
          >Dashboard</a
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-3 h-3 mx-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
        <span>Message</span>
      </div>
      <div
        class="flex rounded-lg shadow-input dark:bg-foreground p-3 w-96 max-w-full justify-between"
      >
        <input
          type="text"
          class="focus:outline-none dark:bg-foreground dark:text-gray-100 pl-3"
          placeholder="Type Anything...."
        />
        <button
          type="button"
          class="bg-blue-500 text-white rounded-lg px-4 py-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 sm:hidden block"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
          <span class="sm:block hidden">Search</span>
        </button>
      </div>
    </div>
    <div class="bg-white shadow-front-2 dark:bg-foreground rounded-lg">
      <div class="flex flex-wrap justify-between items-center mb-4 px-6 pt-6">
        <h4
          class="text-gray-700 dark:text-gray-300 text-xl font-semibold mr-5 sm:mb-0 mb-3"
        >
          Inbox
        </h4>
        <select
          name="cars"
          id="cars"
          class="px-4 py-2 mr-0 text-gray-500 dark:text-gray-400 border border-gray-200 dark:border-gray-800 rounded-lg dark:bg-foreground focus:outline-none"
        >
          <option value="volvo">Last Months</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <!-- inbox  -->
      <div
        class="flex justify-between items-start flex-wrap bg-gray-50 dark:bg-background p-6"
      >
        <div class="flex mr-10 flex-wrap">
          <img
            class="w-14 h-14 rounded-full mr-4"
            src="img/faces/2.jpg"
            alt=""
          />
          <div class="">
            <div class="flex items-center mb-1 flex-wrap">
              <div
                class="font-medium text-gray-700 dark:text-gray-100 text-lg mr-2"
              >
                Gage Paquette
              </div>
              <div
                class="bg-green-100 text-green-500 font-medium text-xs px-3 py-1 rounded-lg"
              >
                Unread
              </div>
            </div>
            <p class="text-gray-500 text-sm dark:text-gray-400">
              Hello, I want to talk about your great listing! Morbi velit eros,
              sagittis in facilisis non, rhoncus et erat.
            </p>
          </div>
        </div>
        <p class="text-gray-500 text-sm dark:text-gray-400 flex-shrink-0">
          1 hour ago
        </p>
      </div>
      <div class="flex justify-between items-start flex-wrap p-6">
        <div class="flex mr-10 flex-wrap">
          <img
            class="w-14 h-14 rounded-full mr-4"
            src="img/faces/1.jpg"
            alt=""
          />
          <div class="">
            <div class="flex items-center mb-1 flex-wrap">
              <div
                class="font-medium text-gray-700 dark:text-gray-100 text-lg mr-2"
              >
                Dorrick Trop
              </div>
              <div
                class="bg-green-100 text-green-500 font-medium px-3 text-xs py-1 rounded-lg"
              >
                Unread
              </div>
            </div>
            <p class="text-gray-500 text-sm dark:text-gray-400">
              Hello, I want to talk about your great listing! Morbi velit eros,
              sagittis in facilisis non, rhoncus et erat.
            </p>
          </div>
        </div>
        <p class="text-gray-500 text-sm dark:text-gray-400 flex-shrink-0">
          1 hour ago
        </p>
      </div>
      <div
        class="flex justify-between items-start flex-wrap bg-gray-50 dark:bg-background p-6"
      >
        <div class="flex mr-10 flex-wrap">
          <img
            class="w-14 h-14 rounded-full mr-4"
            src="img/faces/3.jpg"
            alt=""
          />
          <div class="">
            <div class="flex items-center mb-1 flex-wrap">
              <div
                class="font-medium text-gray-700 dark:text-gray-100 text-lg mr-2"
              >
                Carley Ritchie
              </div>
            </div>
            <p class="text-gray-500 text-sm dark:text-gray-400">
              Hello, I want to talk about your great listing! Morbi velit eros,
              sagittis in facilisis non, rhoncus et erat.
            </p>
          </div>
        </div>
        <p class="text-gray-500 text-sm dark:text-gray-400 flex-shrink-0">
          1 hour ago
        </p>
      </div>
      <div class="flex justify-between items-start flex-wrap p-6">
        <div class="flex mr-10 flex-wrap">
          <img
            class="w-14 h-14 rounded-full mr-4"
            src="img/faces/5.jpg"
            alt=""
          />
          <div class="">
            <div class="flex items-center mb-1 flex-wrap">
              <div
                class="font-medium text-gray-700 dark:text-gray-100 text-lg mr-2"
              >
                Julio Bosco
              </div>
              <div
                class="bg-green-100 text-green-500 px-3 text-xs font-medium py-1 rounded-lg"
              >
                Unread
              </div>
            </div>
            <p class="text-gray-500 text-sm dark:text-gray-400">
              Hello, I want to talk about your great listing! Morbi velit eros,
              sagittis in facilisis non, rhoncus et erat.
            </p>
          </div>
        </div>
        <p class="text-gray-500 text-sm dark:text-gray-400 flex-shrink-0">
          1 hour ago
        </p>
      </div>
      <div
        class="flex justify-between items-start flex-wrap bg-gray-50 dark:bg-background p-6"
      >
        <div class="flex mr-10 flex-wrap">
          <img
            class="w-14 h-14 rounded-full mr-4"
            src="img/faces/9.jpg"
            alt=""
          />
          <div class="">
            <div class="flex items-center mb-1 flex-wrap">
              <div
                class="font-medium text-gray-700 dark:text-gray-100 text-lg mr-2"
              >
                Oda Kling
              </div>
            </div>
            <p class="text-gray-500 text-sm dark:text-gray-400">
              Hello, I want to talk about your great listing! Morbi velit eros,
              sagittis in facilisis non, rhoncus et erat.
            </p>
          </div>
        </div>
        <p class="text-gray-500 text-sm dark:text-gray-400 flex-shrink-0">
          1 hour ago
        </p>
      </div>
      <div class="flex justify-between items-start flex-wrap p-6">
        <div class="flex mr-10 flex-wrap">
          <img
            class="w-14 h-14 rounded-full mr-4"
            src="img/faces/10.jpg"
            alt=""
          />
          <div class="">
            <div class="flex items-center mb-1 flex-wrap">
              <div
                class="font-medium text-gray-700 dark:text-gray-100 text-lg mr-2"
              >
                Dominic Mitchell
              </div>
            </div>
            <p class="text-gray-500 text-sm dark:text-gray-400">
              Hello, I want to talk about your great listing! Morbi velit eros,
              sagittis in facilisis non, rhoncus et erat.
            </p>
          </div>
        </div>
        <p class="text-gray-500 text-sm dark:text-gray-400 flex-shrink-0">
          1 hour ago
        </p>
      </div>
      <div
        class="flex justify-between items-start flex-wrap bg-gray-50 dark:bg-background p-6"
      >
        <div class="flex mr-10 flex-wrap">
          <img
            class="w-14 h-14 rounded-full mr-4"
            src="img/faces/15.jpg"
            alt=""
          />
          <div class="">
            <div class="flex items-center mb-1 flex-wrap">
              <div
                class="font-medium text-gray-700 dark:text-gray-100 text-lg mr-2"
              >
                Zachary James
              </div>
            </div>
            <p class="text-gray-500 text-sm dark:text-gray-400">
              Hello, I want to talk about your great listing! Morbi velit eros,
              sagittis in facilisis non, rhoncus et erat.
            </p>
          </div>
        </div>
        <p class="text-gray-500 text-sm dark:text-gray-400 flex-shrink-0">
          1 hour ago
        </p>
      </div>
      <!-- rounded pagination  -->
      <div class="flex justify-center items-center p-6">
        <a
          href="#"
          class="rounded-full w-8 h-8 flex justify-center items-center border border-gray-200 dark:border-gray-800 mr-4"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 text-gray-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            /></svg
        ></a>
        <a
          href="#"
          class="rounded-full w-8 h-8 flex justify-center items-center border border-gray-200 dark:border-gray-800 bg-blue-500 text-white mr-4"
          >1</a
        >
        <a
          href="#"
          class="rounded-full w-8 h-8 flex justify-center items-center border border-gray-200 dark:border-gray-800 hover:bg-blue-500 dark:hover:bg-blue-500 dark:hover:text-white text-gray-500 dark:text-gray-300 hover:text-white mr-4"
          >2</a
        >
        <a
          href="#"
          class="rounded-full w-8 h-8 flex justify-center items-center border border-gray-200 dark:border-gray-800 mr-4"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 text-blue-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"
            /></svg
        ></a>
      </div>
    </div>
  </div>
</section>
