<section class="dark:bg-background">
  <div class="container mx-auto">
    <div class="flex text-gray-400 text-sm items-center mb-4">
      <a href="#" class="font-medium text-gray-700 dark:text-gray-200"
        >Dashboard</a
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-3 h-3 mx-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
      </svg>
      <span>My Profile </span>
    </div>
    <div class="bg-white shadow-front-2 dark:bg-foreground rounded-lg p-6">
      <h4 class="text-gray-700 dark:text-gray-300 text-xl font-semibold">
        Profile Details
      </h4>
      <div class="flex justify-center mb-12">
        <label for="profileUpload" class="cursor-pointer relative">
          <img class="w-48 h-48 rounded-full" src="img/faces/5.jpg" alt="" />
          <label
            for="profileUpload"
            class="flex items-center cursor-pointer justify-center mx-auto font-medium text-gray-700 dark:text-gray-300 dark:bg-gray-800 bg-gray-200 px-3 py-2 rounded-lg -mt-3 relative"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
            Upload Photo
          </label>
          <input id="profileUpload" type="file" class="hidden" />
        </label>
      </div>
      <h4 class="text-gray-700 dark:text-gray-300 text-xl font-semibold mb-7">
        Personal Information
      </h4>
      <div class="grid lg:grid-cols-2 gap-7">
        <div>
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Name</label
          >
          <input
            type="text"
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            placeholder="name"
          />
        </div>
        <div>
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Title</label
          >
          <input
            type="text"
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            placeholder="title"
          />
        </div>
        <div>
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Email</label
          >
          <input
            type="email"
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            placeholder="Email"
          />
        </div>
        <div>
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Address</label
          >
          <input
            type="text"
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            placeholder="Address"
          />
        </div>
        <div class="col-span-2">
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Bio</label
          >
          <textarea
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            id="exampleFormControlTextarea1"
            rows="5"
            placeholder="Your message"
          ></textarea>
        </div>
        <div>
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Email</label
          >
          <input
            type="email"
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            placeholder="Email"
          />
        </div>
        <div>
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Address</label
          >
          <input
            type="text"
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            placeholder="Address"
          />
        </div>
        <div>
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Email</label
          >
          <input
            type="email"
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            placeholder="Email"
          />
        </div>
        <div>
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Wbsite</label
          >
          <input
            type="text"
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            placeholder="website"
          />
        </div>
        <div>
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Twitter</label
          >
          <input
            type="text"
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            placeholder="twitter"
          />
        </div>
        <div>
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Facebook</label
          >
          <input
            type="text"
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            placeholder="Facebook"
          />
        </div>
        <div>
          <label
            for=""
            class="text-base text-gray-700 dark:text-gray-200 block mb-3"
            >Linkedin</label
          >
          <input
            type="text"
            class="w-full border mb-4 border-gray-200 dark:border-gray-800 dark:bg-background dark:text-gray-300 p-4 rounded-lg focus:outline-blue-400 dark:focus:outline-gray-800"
            placeholder="Linkedin"
          />
        </div>
        <div class="col-span-2 flex flex-wrap">
          <button
            type="button"
            class="bg-blue-500 rounded-lg text-white px-10 py-3 mr-3 mb-4"
          >
            Save
          </button>
          <button
            type="button"
            class="border border-gray-200 rounded-lg text-gray-500 dark:text-gray-300 mb-4 dark:border-gray-800 px-10 py-3 mr-3"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
