@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  @apply overflow-x-hidden;
}
body {
  @apply text-base text-gray-800;
}

/* .dropdown start  */

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);

  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  z-index: 999999;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown-mobile-menu {
  display: none;
}
.dropdown.active > .link + .dropdown-mobile-menu {
  display: block;
}
.dropdown-mobile.active {
  @apply text-blue-500 dark:text-blue-500;
  button {
    svg {
      @apply rotate-180;
    }
  }
}
.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* dropdown end  */

.preload-disappear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.body-header {
  .sticky-header-first-content {
    padding-top: 80px;
  }
}
