<div
  class="relative [&>div]:hover:visible [&>div]:hover:pt-3 [&>div]:hover:h-full [&>div]:hover:opacity-100 [&>div]:hover:top-auto [&>div]:hover:transition-all [&>div]:hover:z-10 pr-9"
>
  <button class="link hover:text-blue-500 flex items-center">
    Dashboard
    <svg
      class="w-3 h-auto ml-2"
      width="10"
      height="6"
      viewBox="0 0 10 6"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4.99982 6.00001C4.79513 6.00001 4.59034 5.92467 4.43435 5.774L0.434558 1.91686C0.122074 1.61552 0.122074 1.12735 0.434558 0.826011C0.747042 0.524671 1.25327 0.524671 1.56575 0.826011L4.99982 4.13893L8.43464 0.826613C8.74712 0.525274 9.25335 0.525274 9.56583 0.826613C9.87831 1.12795 9.87831 1.61612 9.56583 1.91746L5.56604 5.7746C5.4098 5.92527 5.20481 6.00001 4.99982 6.00001Z"
        fill="currentColor"
      />
    </svg>
  </button>
  <div class="absolute top-9 invisible opacity-0 whitespace-nowrap pt-0">
    <div
      class="max-w-sm rounded-lg whitespace-nowrap bg-white dark:bg-foreground dark:text-gray-300 text-gray-700"
    >
      <div class="dropdown-links">
        <ul class="p-4">
          <li class="">
            <a
              href="/dashboard-home.html"
              class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
            >
              Overview</a
            >
          </li>
          <li>
            <a
              href="dashboard-addlisting.html"
              class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
              >Add Listing One</a
            >
          </li>
          <li>
            <a
              href="dashboard-addlisting-2.html"
              class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
              >Add Listing Two</a
            >
          </li>
          <li>
            <a
              href="dashboard-booking.html"
              class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
              >Booking</a
            >
          </li>
          <li>
            <a
              href="dashboard-bookmarks.html"
              class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
              >Bookmarks</a
            >
          </li>
          <li>
            <a
              href="dashboard-bookmarks.html"
              class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
              >Messages</a
            >
          </li>
          <li>
            <a
              href="dashboard-mylisting.html"
              class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
              >Mylisting</a
            >
          </li>
          <li>
            <a
              href="dashboard-myprofile.html"
              class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
              >My Profile</a
            >
          </li>
          <li>
            <a
              href="dashboard-reviews.html"
              class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-0"
              >Reviews</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
