<div
  class="dropdown relative [&>div]:hover:visible [&>div]:hover:transition-all [&>div]:hover:pt-3 [&>div]:hover:h-full [&>div]:hover:block [&>div]:hover:opacity-100 [&>div]:hover:top-auto [&>div]:hover:z-10 pr-9"
>
  <button class="link hover:text-blue-500 flex items-center">
    Pages
    <svg
      class="w-3 h-auto ml-2"
      width="10"
      height="6"
      viewBox="0 0 10 6"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4.99982 6.00001C4.79513 6.00001 4.59034 5.92467 4.43435 5.774L0.434558 1.91686C0.122074 1.61552 0.122074 1.12735 0.434558 0.826011C0.747042 0.524671 1.25327 0.524671 1.56575 0.826011L4.99982 4.13893L8.43464 0.826613C8.74712 0.525274 9.25335 0.525274 9.56583 0.826613C9.87831 1.12795 9.87831 1.61612 9.56583 1.91746L5.56604 5.7746C5.4098 5.92527 5.20481 6.00001 4.99982 6.00001Z"
        fill="currentColor"
      />
    </svg>
  </button>
  <div class="absolute top-9 invisible opacity-0 whitespace-nowrap pt-0">
    <div
      class="rounded-lg whitespace-nowrap shadow-front-3 bg-white dark:bg-foreground dark:text-gray-300 text-gray-700"
    >
      <div class="flex max-w-full">
        <div class="p-4">
          <div class="mb-7 flex flex-col">
            <img
              class="shadow-front-2 w-32 mb-3 border-2 rounded-lg border-gray-100"
              src="img/header-img/landing-page.png"
              alt=""
            />
            <h5 class="text-sm font-semibold mb-2">Landing Page</h5>
            <a
              href="landing-page-1.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2"
              >landing Page One</a
            >
            <a
              href="landing-page-2.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >landing Page Two</a
            >
            <a
              href="landing-page-3.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >landing Page Three</a
            >
            <a
              href="landing-page-4.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >landing Page Four</a
            >
            <a
              href="landing-page-5.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >landing Page Five</a
            >
            <a
              href="landing-page-6.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >landing Page Six</a
            >
            <a
              href="landing-page-7.html"
              class="link text-sm hover:text-blue-500 mb-0 truncate"
              >landing Page Seven</a
            >
          </div>
          <div class="mb-7 flex flex-col">
            <img
              class="shadow-front-2 mb-3 border-2 rounded-lg border-gray-100"
              src="img/header-img/agent-pages.png"
              alt=""
            />
            <h5 class="text-sm font-semibold mb-2 truncate w-32">Agent</h5>
            <a
              href="agent-profile.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >Agent Profile</a
            >
            <a
              href="agent-list.html"
              class="link text-sm hover:text-blue-500 mb-0 truncate"
              >Agent List</a
            >
          </div>
        </div>
        <div class="p-4">
          <div class="mb-7 flex flex-col">
            <img
              class="shadow-front-2 mb-3 border-2 rounded-lg border-gray-100"
              src="img/header-img/details-page.png"
              alt=""
            />
            <h5 class="text-sm font-medium mb-2">Blog</h5>
            <a
              href="blog-details-page.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >Blog Details</a
            >
            <a
              href="blog-list-page.html"
              class="link text-sm hover:text-blue-500 mb-0 truncate"
              >Blog List
            </a>
          </div>

          <div class="mb-7 flex flex-col">
            <img
              class="shadow-front-2 mb-3 border-2 rounded-lg border-gray-100"
              src="img/header-img/details-page.png"
              alt=""
            />
            <h5 class="text-sm font-medium mb-2">Pricing</h5>
            <a
              href="pricing-page-1.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >Pricing Page One</a
            >
            <a
              href="pricing-page-2.html"
              class="link text-sm hover:text-blue-500 mb-0 truncate"
              >Pricing Page Two</a
            >
          </div>
          <div class="mb-7 flex flex-col">
            <img
              class="shadow-front-2 w-32 mb-3 border-2 rounded-lg border-gray-100"
              src="img/header-img/listing-pages.png"
              alt=""
            />
            <h5 class="text-sm font-medium mb-2">Event</h5>
            <a
              href="event-listing-details-page.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >Event Listing Page</a
            >
            <a
              href="apartment-details-page.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >Apartment Details Page</a
            >
            <a
              href="contact-page.html"
              class="link text-sm hover:text-blue-500 mb-0 truncate"
              >Apartment Details Page
            </a>
          </div>
        </div>
        <div class="p-4">
          <div class="mb-7 flex flex-col">
            <img
              class="shadow-front-2 w-32 mb-3 border-2 rounded-lg border-gray-100"
              src="img/header-img/listing-pages.png"
              alt=""
            />
            <h5 class="text-sm font-medium mb-2">Listing</h5>
            <a
              href="listing-list.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >Listing Filter</a
            >
            <a
              href="listing-grid.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >Listing Grid
            </a>
            <a
              href="listing-map-grid-view.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >Listing Map Grid View
            </a>
            <a
              href="listing-map-list-view.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate"
              >Listing Map List View
            </a>
            <a
              href="listing-map-half-grid-view.html"
              class="link text-sm hover:text-blue-500 mb-0 truncate"
              >Listing Map Half Grid View
            </a>
          </div>
          <div class="mb-7 flex flex-col">
            <img
              class="shadow-front-2 w-32 mb-3 border-2 rounded-lg border-gray-100"
              src="img/header-img/other-pages.png"
              alt=""
            />
            <h5 class="text-sm font-medium mb-2">Others</h5>
            <a
              href="bookin-page.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
              >Booking Page</a
            >

            <a
              href="contact-page.html"
              class="link text-sm hover:text-blue-500 truncate w-32 mb-2"
              >Contact Page
            </a>
            <a
              href="sign-in.html"
              class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
              >Sign In</a
            >

            <a
              href="sign-up.html"
              class="link text-sm hover:text-blue-500 mb-0 truncate w-32"
              >Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
