<div
  class="mobile-navbar overflow-y-auto fixed bg-white dark:bg-background -left-full top-20 h-full w-full transition-all z-[100]"
>
  <div class=" flex justify-end  py-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 mr-4 text-gray-500 close-navbar-btn"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </div>
  <ul class="mx-5">
    <li class="">
      <div
        class="dropdown dropdown-mobile  dark:bg-foreground rounded-lg"
        data-dropdown
      >
        <button
          class="link w-full py-3 flex dark:border-gray-800 pb-5 justify-between items-center border-b border-gray-200 font-normal text-gray-500 dark:text-gray-200"
          data-dropdown-button
        >
          Home
          <svg
            class="w-3 h-auto ml-2 transition-all"
            width="10"
            height="6"
            data-dropdown-button
            viewBox="0 0 10 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.99982 6.00001C4.79513 6.00001 4.59034 5.92467 4.43435 5.774L0.434558 1.91686C0.122074 1.61552 0.122074 1.12735 0.434558 0.826011C0.747042 0.524671 1.25327 0.524671 1.56575 0.826011L4.99982 4.13893L8.43464 0.826613C8.74712 0.525274 9.25335 0.525274 9.56583 0.826613C9.87831 1.12795 9.87831 1.61612 9.56583 1.91746L5.56604 5.7746C5.4098 5.92527 5.20481 6.00001 4.99982 6.00001Z"
              fill="currentColor"
            />
          </svg>
        </button>
        <div
          class="dropdown-mobile-menu dark:bg-foreground dark:text-gray-300 text-gray-700"
        >
          <ul class="h-full relative  dark:text-gray-300 text-gray-700">
            <li
              class="flex "
            >
              <a
                href="landing-page-1.html"
                class="link px-3 py-2 border-b text-sm border-grey-200 dark:border-gray-800 w-full"
                ><h6 class="font-medium text-gray-600 dark:text-gray-200">
                  Landing page
                </h6>
                <p class="font-normal text-gray-500 dark:text-gray-400 text-xs">
                  Landing Page One & Inner Pages
                </p>
              </a>
              
            </li>
            <li
              class="flex "
            >
              <a
                href="landing-page-2.html"
                class="link px-3 py-2 border-b text-sm border-grey-200 dark:border-gray-800 w-full"
                ><h6 class="font-medium text-gray-600 dark:text-gray-200">
                  Landing page 2
                </h6>
                <p class="font-normal text-gray-500 dark:text-gray-400 text-xs">
                  Landing Page 2 & Inner Pages
                </p>
              </a>
              
            </li>
            <li
              class="flex "
            >
              <a
                href="landing-page-3.html"
                class="link px-3 py-2 border-b text-sm border-grey-200 dark:border-gray-800 w-full"
                ><h6 class="font-medium text-gray-600 dark:text-gray-200">
                  Landing page 3
                </h6>
                <p class="font-normal text-gray-500 dark:text-gray-400 text-xs">
                  Landing Page 3 & Inner Pages
                </p>
              </a>
              
            </li>
            <li
              class="flex "
            >
              <a
                href="landing-page-4.html"
                class="link px-3 py-2 border-b text-sm border-grey-200 dark:border-gray-800 w-full"
                ><h6 class="font-medium text-gray-600 dark:text-gray-200">
                  Landing page 4
                </h6>
                <p class="font-normal text-gray-500 dark:text-gray-400 text-xs">
                  Landing Page 4 & Inner Pages
                </p>
              </a>
              
              </a>
            </li>
            <li
              class="flex "
            >
              <a
                href="landing-page-5.html"
                class="link px-3 py-2 border-b text-sm border-grey-200 dark:border-gray-800 w-full"
                ><h6 class="font-medium text-gray-600 dark:text-gray-200">
                  Landing page 5
                </h6>
                <p class="font-normal text-gray-500 dark:text-gray-400 text-xs">
                  Landing Page 5 & Inner Pages
                </p>
              </a>
              
            </li>
            <li
              class="flex "
            >
              <a
                href="landing-page-6.html"
                class="link px-3 py-2 border-b text-sm border-grey-200 dark:border-gray-800 w-full"
                ><h6 class="font-medium text-gray-600 dark:text-gray-200">
                  Landing page 6
                </h6>
                <p class="font-normal text-gray-500 dark:text-gray-400 text-xs">
                  Landing Page 6 & Inner Pages
                </p>
              </a>
             
            </li>
            <li
              class="flex [&>a_h6]:hover:text-blue-500 [&>a:first-child]:hover:bg-blue-50 [&>a:last-child]:hover:block [&>a:last-child]:hover:translate-x-[198px]bg-white"
            >
              <a
                href="landing-page-7.html"
                class="link px-3 py-2 text-sm w-full"
                ><h6 class="font-medium text-gray-600 dark:text-gray-200">
                  Landing page 7
                </h6>
                <p class="font-normal text-gray-500 dark:text-gray-400 text-xs">
                  Landing Page 7 & Inner Pages
                </p>
              </a>
             
            </li>
          </ul>
        </div>
      </div>
    </li>
    
    <li class="">
      <div
        class="dropdown dropdown-mobile dark:bg-foreground rounded-lg"
        data-dropdown
      >
        <button
          class="link w-full py-3 flex dark:border-gray-800 justify-between pb-5 items-center border-b border-gray-200 font-normal text-gray-500 dark:text-gray-200"
          data-dropdown-button
        >
          Pages
          <svg
            class="w-3 h-auto ml-2 transition-all"
            width="10"
            height="6"
            data-dropdown-button
            viewBox="0 0 10 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.99982 6.00001C4.79513 6.00001 4.59034 5.92467 4.43435 5.774L0.434558 1.91686C0.122074 1.61552 0.122074 1.12735 0.434558 0.826011C0.747042 0.524671 1.25327 0.524671 1.56575 0.826011L4.99982 4.13893L8.43464 0.826613C8.74712 0.525274 9.25335 0.525274 9.56583 0.826613C9.87831 1.12795 9.87831 1.61612 9.56583 1.91746L5.56604 5.7746C5.4098 5.92527 5.20481 6.00001 4.99982 6.00001Z"
              fill="currentColor"
            />
          </svg>
        </button>
        <div
          class="dropdown-mobile-menu dark:bg-foreground dark:text-gray-300 text-gray-700"
        >
        <div class="flex flex-wrap max-w-full">
          <div class="p-4 flex-shrink-0">
            <div class="mb-7 flex flex-col">
              
              <h5 class="text-sm font-semibold mb-2">Landing Page</h5>
              <a
                href="landing-page-1.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >landing Page One landing Page One landing Page One landing Page
                One landing Page One</a
              >
              <a
                href="landing-page-2.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >landing Page Two</a
              >
              <a
                href="landing-page-3.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >landing Page Three</a
              >
              <a
                href="landing-page-4.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >landing Page Four</a
              >
              <a
                href="landing-page-5.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >landing Page Five</a
              >
              <a
                href="landing-page-6.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >landing Page Six</a
              >
              <a
                href="landing-page-7.html"
                class="link text-sm hover:text-blue-500 mb-0 truncate w-32"
                >landing Page Seven</a
              >
            </div>
            <div class="mb-7 flex flex-col">
              
              <h5 class="text-sm font-semibold mb-2 truncate w-32">Agent</h5>
              <a
                href="agent-profile.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >Agent Profile</a
              >
              <a
                href="agent-list.html"
                class="link text-sm hover:text-blue-500 mb-0 truncate w-32"
                >Agent List</a
              >
            </div>
          </div>
          <div class="p-4">
            <div class="mb-7 flex flex-col">
              
              <h5 class="text-sm font-medium mb-2">Blog</h5>
              <a
                href="blog-details-page.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >Blog Details</a
              >
              <a
                href="blog-list-page.html"
                class="link text-sm hover:text-blue-500 mb-0 truncate w-32"
                >Blog List
              </a>
            </div>
  
            <div class="mb-7 flex flex-col">
            
              <h5 class="text-sm font-medium mb-2">Pricing</h5>
              <a
                href="pricing-page-1.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >Pricing Page One</a
              >
              <a
                href="pricing-page-2.html"
                class="link text-sm hover:text-blue-500 mb-0 truncate w-32"
                >Pricing Page Two</a
              >
            </div>
            <div class="mb-7 flex flex-col">
              
              <h5 class="text-sm font-medium mb-2">Event</h5>
              <a
                href="event-listing-details-page.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >Event Listing Page</a
              >
              <a
                href="apartment-details-page.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >Apartment Details Page</a
              >
              <a
                href="contact-page.html"
                class="link text-sm hover:text-blue-500 mb-0 truncate w-32"
                >Apartment Details Page
              </a>
            </div>
          </div>
          <div class="p-4">
            <div class="mb-7 flex flex-col">
              
              <h5 class="text-sm font-medium mb-2">Listing</h5>
              <a
                href="listing-list.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >Listing Filter</a
              >
              <a
                href="listing-grid.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >Listing Grid
              </a>
              <a
                href="listing-map-grid-view.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >Listing Map Grid View
              </a>
              <a
                href="listing-map-list-view.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >Listing Map List View
              </a>
              <a
                href="listing-map-half-grid-view.html"
                class="link text-sm hover:text-blue-500 mb-0 truncate w-32"
                >Listing Map Half Grid View
              </a>
            </div>
            <div class="mb-7 flex flex-col">
              
              <h5 class="text-sm font-medium mb-2">Others</h5>
              <a
                href="bookin-page.html"
                class="link text-sm font-normal hover:text-blue-500 mb-2 truncate w-32"
                >Booking Page</a
              >
  
              <a
                href="contact-page.html"
                class="link text-sm hover:text-blue-500 mb-0 truncate w-32"
                >Contact Page
              </a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </li>
    <li class="">
      <div
        class="dropdown dropdown-mobile dark:bg-foreground rounded-lg"
        data-dropdown
      >
        <button
          class="link w-full py-3 flex dark:border-gray-800 pb-5 justify-between items-center border-b border-gray-200 font-normal text-gray-500 dark:text-gray-200"
          data-dropdown-button
        >
          Dashboard
          <svg
            class="w-3 h-auto ml-2 transition-all"
            width="10"
            height="6"
            data-dropdown-button
            viewBox="0 0 10 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.99982 6.00001C4.79513 6.00001 4.59034 5.92467 4.43435 5.774L0.434558 1.91686C0.122074 1.61552 0.122074 1.12735 0.434558 0.826011C0.747042 0.524671 1.25327 0.524671 1.56575 0.826011L4.99982 4.13893L8.43464 0.826613C8.74712 0.525274 9.25335 0.525274 9.56583 0.826613C9.87831 1.12795 9.87831 1.61612 9.56583 1.91746L5.56604 5.7746C5.4098 5.92527 5.20481 6.00001 4.99982 6.00001Z"
              fill="currentColor"
            />
          </svg>
        </button>
        <div
          class="dropdown-mobile-menu dark:bg-foreground dark:text-gray-300 text-gray-700"
        >
          <div class="dropdown-links">
            <ul class="p-4">
              <li class="">
                <a
                  href="/dashboard-home.html"
                  class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
                >
                  Overview</a
                >
              </li>
              <li>
                <a
                  href="dashboard-addlisting.html"
                  class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
                  >Add Listing One</a
                >
              </li>
              <li>
                <a
                  href="dashboard-addlisting-2.html"
                  class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
                  >Add Listing Two</a
                >
              </li>
              <li>
                <a
                  href="dashboard-booking.html"
                  class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
                  >Booking</a
                >
              </li>
              <li>
                <a
                  href="dashboard-bookmarks.html"
                  class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
                  >Bookmarks</a
                >
              </li>
              <li>
                <a
                  href="dashboard-bookmarks.html"
                  class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
                  >Messages</a
                >
              </li>
              <li>
                <a
                  href="dashboard-mylisting.html"
                  class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
                  >Mylisting</a
                >
              </li>
              <li>
                <a
                  href="dashboard-myprofile.html"
                  class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-3"
                  >My Profile</a
                >
              </li>
              <li>
                <a
                  href="dashboard-reviews.html"
                  class="hover:text-blue-500 text-sm block dark:hover:text-blue-500 pb-0"
                  >Reviews</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
 
    
  </ul>
</div>
