<div class="scroll-top-btn opacity-0 transition-all">
  <button
    type="button"
    class="bg-blue-500 p-2 fixed z-50 bottom-0 right-0 m-10 rounded-full animate-bounce"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 text-white"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M7 11l5-5m0 0l5 5m-5-5v12"
      />
    </svg>
  </button>
</div>
